.title {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.bold {
    font-weight: 900;
}

.highlight {
    color: #59bba6;
    font-weight: 900;
}

.first-button {
    margin: 16px;
}