.content-container {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 304px;
    height: 300px;
    padding: 0 20px;
    background-color: white;
    margin-top: 164px;
}

.img-monster{
    position:absolute;
    top: -80px;
}

.img-behind {
    z-index: -1;
}