.text-container{
    width: 304px;
    align-items: center;
    margin-top:16px;
    margin-bottom: 24px;
    
}

.info-text{
    color:white;
    font-size: 10px;
    font-weight: 400;
  
    text-align: center;
}